[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
pywinrm = "*"
requests-credssp = "*"

[dev-packages]
molecule = "*"
python-vagrant = "*"
molecule-vagrant = "*"
selinux = "*"
ansible-lint = "*"
yamllint = "*"
testinfra = "*"
autopep8 = "*"
flake8 = "*"
molecule-podman = "*"
python-dotenv = "*"

[requires]
python_version = "3.9"
