[Unit]
Description={{ vsts_service_description }}
After=network.target

[Service]
ExecStart={{ vsts_agent_folder }}/bin/runsvc.sh
User={{ vsts_agent_user }}
WorkingDirectory={{ vsts_agent_folder }}
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
