---
- name: Check if VSTS config.sh exists
  stat:
    path: "{{ vsts_agent_folder }}/config.sh"
  register: config_file
  failed_when: config_file is not defined
  ignore_errors: true

- name: Unconfigure VSTS agent
  command: "./config.sh remove --unattended --auth PAT --token {{ vsts_accesstoken }}"
  args:
    chdir: "{{ vsts_agent_folder }}"
  become: true
  become_user: "{{ vsts_agent_user }}"
  when: config_file.stat.exists
  no_log: true
  tags: unconfig

- name: Disable 'vsts-agent' systemd service
  service:
    name: vsts-agent
    enabled: false
    state: stopped
  become: true
  when: vsts_service_result.stat.exists
  tags:
    - service
    - unconfig

- name: Remove 'vsts-agent' folders
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ vsts_agent_folder }}"
    - "{{ vsts_work_folder }}"
  become: true

- name: Remove 'vsts-agent' systemd service file
  file:
    path: /etc/systemd/system/vsts-agent.service
    state: absent
  notify: systemd daemon-reload
  become: true
  when:
    - vsts_service_result.stat.exists
    - vsts_remove | bool

- name: Include user tasks
  include_tasks: user.yml
  when:
    - dryrun is not defined
    - vsts_remove | bool

- name: Force all notified handlers to run at this point, not waiting for normal sync points
  meta: flush_handlers
